<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- READ - swap between these two connection strings. The one named "EFModels" is the one that will be used in the test. -->
    <add name="EFModels" connectionString="metadata=res://*/EFModels.csdl|res://*/EFModels.ssdl|res://*/EFModels.msl;provider=Microsoft.Data.SqlClient;provider connection string=&quot;data source=it01;initial catalog=mssqlclient;integrated security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="Microsoft.Data.SqlClient" />
    <add name="EFModelsNoMetadata" connectionString="data source=it01;initial catalog=mssqlclient;integrated security=True;persist security info=True;" providerName="Microsoft.Data.SqlClient"/>
  </connectionStrings>
</configuration>